### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# React
.DS_*
logs
**/*.backup.*
**/*.back.*

# Visual Studio Code && Idea
.vscode/*
.history/
.idea

# pyenv
.python-version

# Environment
.venv
.env

# poetry
poetry.lock

# pytest
.pytest_cache

# API Collection
.APICollection