@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');
@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, Galano Grotesque Alt, Galano Grotesque, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  flex-wrap: wrap;
}

  html {
    height: auto;
    min-height: 100%;
    background: linear-gradient(130deg, #333dd1 0%, #D946EF 45%, #D946EF 60%, #8B5CF6 100%);
  }
